
* {
  margin: 0;
}


body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  width: 100%;
  list-style-type: none;
  position: relative;
  top: 20px;
  left: 86px;

}

.item {
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: relative;
  width: 100%;
  z-index: 100;
  opacity: 1;
  background-image: url(../images/pink.jpg);
}

/* DIALS */


#pages1 , #pages2 , #pages3 , #pages4 {
  width: 1300px; padding-top: 15px; 
}

#pages1 li, #pages2 li, #pages3 li, #pages4 li {
  position:relative;
}
#pages1 li,#pages2 li, #pages3 li, #pages4 li, .link {
  display:inline-table;
  overflow:hidden!important;
}

.link{
  height: 90.1px; overflow: hidden;
}

.link > a{
  width: 110px; height: 65.1px; padding: 4px 4px 0px; margin: 10px;
   text-decoration:none;
  display:block!important;
  background:#fff;
  border:1px solid #ccc;
}

#pages1 li,#pages2 li, #pages3 li, #pages4 li {
  z-index:2;
}


.thumbnail_container {
  background-repeat:no-repeat!important;
  background-size:contain;
  background-color:#fff;
  position:relative;
  top:0;
  left:0;
  background-position: 50% 50%;
  height: 60.1px; 
}

/* GROUPS */

#groups {
  z-index:997;
  position:relative;
  height:auto;
  overflow:hidden;
  text-align:center;
  margin-bottom:0px;
  padding-bottom:0;
  padding-left: 50px;
  padding-right: 82.4px;
  display: block;
}
#groups:hover {
}
#groups li a {
}

#groups li {
  position:relative;
  z-index:200;
  padding-left:0px;
  padding-right:7px;
  padding-top:25px;
  display:block;
  float:left;
}
#groups li a {
  text-decoration:none;
  border-radius:2px;
  border-color:#eee;
  font-family:"helvetica neue",arial,sans-serif;
  font-weight:bold;
  border-style:solid;
  border:0;
  text-align:left;
  display:block;
  padding:8px 16px;
  color:#333;
  font-size:14px;
  background:#fff;
  border-color:#fff;
  font-weight:bold;
  margin-bottom:2px;
  opacity:1;
}
#groups li:hover a {
  color:#000;
}
#groups li a.selected {
  opacity:1;
  color:#000;
}

.hide{
  display: none;
}